@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  font-family: "Montserrat",monospace;
}

body {
  width: 100%;
  height: 100vh;
  padding-top: 70px;
  background-image: url("./Files/bg.png");
  background-size: cover;
  background-position: center center;
}

a {
  text-decoration: none;
  color: white;
}

a.button:hover {
  color: white;
  text-decoration: none;
}

a.button:active {
  color: white;
  text-decoration: none;
}

.button {
  
  width: 12em;
  height: 1em;
  padding: 1em;
  background-color: salmon;
  cursor: pointer;
  position: relative;
  bottom: 0px;
  right: 0px;
  box-shadow: 8px 8px 0px red;
  text-align: center;
  font-family: "Inconsolata", sans-serif;
  transition: all .25s;
  margin: auto;
}

.button:hover {
  bottom: -4px;
  right: -4px;
  box-shadow: 4px 4px 0px red;
}

.button:active {
  bottom: -7px;
  right: -7px;
  box-shadow: 1px 1px 0px red;
}

.container input {
  padding: 10px 5px;
  width: 80%;
}

@media (max-width: 451px) {
  .button {
    position: relative;
    top: 40px;
  }
}